django
django-extensions
django-widget-tweaks
python-dotenv
pillow
psycopg2
gunicorn
# asgiref==3.2.3 # Installed as dependency for django
# pytz==2019.3 # Installed as dependency for django
# sqlparse==0.3.0 # Installed as dependency for django
# six==1.14.0 # Installed as dependency for django-extensions
